.title {
    font-family: 'Secular One', sans-serif;
    color:floralwhite;
    text-align: center;
    font-size: 55px;
    
   
}

.webNav a:hover {
  background-color: darkslategrey;
  color: deepskyblue;
}

.webNav a {
  float: center;
  color: ghostwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 30px;
  background-color: slategrey;
  border-radius: 10px;
  border-style: groove;
  font-family: 'DM Sans', sans-serif;
}

.webNav {
    text-align: center;
}

.earth{
    height: 200px;
    width: 200px;
   
}

.header{
    
    background-color: #038099;
    padding-bottom: 150px;
    border-style: dotted;
    background-image: url("https://static.scientificamerican.com/sciam/cache/file/A0F7CB66-9808-4518-B0E5D065AE4CFE7F_source.jpg");
}

.webNav a.buy {
    color: yellow
}

.aboutUs h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 80px;
    
}

.gif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px
}

.ecoSystem h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 80px;
    padding-bottom: 40px;
}

.ourAims h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 80px;
}

.ourAims h4 {
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
}

.chrome {
    height: 22px;
    width: 22px;
}

.footer{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

.arrow {
    width:100px;
    height:100px;
}

.roadMap h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 80px;
}

.ourTeam h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 80px;
}

.faq h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 80px;
}

body {
    background-color: skyblue;
}


.pres{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
}



.pin{
    width:20px;
    height:30px;
    padding-left: 50px;
}

.roadMap h6{
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
}

.check {
    width: 25px;
    height: 25px;
    background-color: azure;
    border-radius: 45px;
    border-style: outset;
    padding: 10px;
    background-position: right;
}