.title {
    font-family: 'Teko', sans-serif;
    color:greenyellow;
    background-color: black;
    text-align: center;
    font-size: 45px;

}

.webNav a:hover {
  background-color: darkslategrey;
  color: deepskyblue;
}

.webNav a {
  float: center;
  color: ghostwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 30px;
  background-color: slategrey;
    
}

.webNav {
    text-align: center;
}

.earth{
    height: 200px;
    width: 200px;
    padding-top: 50px;
    
}

.header{
    
    background-color: darkslategrey;
    padding-bottom: 50px;
}

.webNav a.buy {
    color: yellow
}

.aboutUs h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

.ecoSystem h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

.ourAims h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

.roadMap h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

.ourTeam h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

.faq h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
}

body {
    background-color: skyblue;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: black;
  color: lawngreen;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #111111;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  font-family: 'DM Sans', sans-serif;
  color: aquamarine;

}
